<!DOCTYPE html>
<html>
<head>
<title>{{title}} </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>

</head>



<body id="myPage">

<!-- Plots Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="plot">
    <h2>Plots</h2>
    <p>Data Visuals</p><br>
    <body>
      <div id="plot">
        <script>
          let xData = [1, 2, 3, 4, 5];
          let yData = [1, 2, 4, 8, 16];
      </script>
       <script src="static/plot.js"></script>

      </div>
    </body>

    </div>

    </html>